---
category: project
name: 10i Commerce
technologies: Spree, Rails, Spring
short_desc: Spree powered APIs for B2B ecommerce backend complying with Indian tax laws.
---

<% content_for :about do %>
  <p>
  10i Commerce provides a B2B retail platform that enables retailers in non-urban centers to carry virtual inventory. 10i Commerce takes care of logistics and payments while helping the retailer with better customer retention by taking orders for SKUs that are not on shelf.
  </p>
  <p>
  We helped 10i Commerce in customizing Spree to be compliant with Indian tax laws. We setup test cases for the earlier code that was implemented and setup a CI/CD pipeline with Jenkins. We also addressed a lot of performance issues and scaling spree to handle over 100k orders.
  </p>
  <p>
  We also helped in coaching their existing members on good development practices like writing clean SOLID code, writing and implementing unit tests, using the CI/CD to automate deployments and conducted technical interviews for growing their team.
  </p>
<% end %>

<% content_for :members do %>
  <div>Dhruva Sagar</div>
<% end %>
