---
category: project
name: IDEO
technologies: Javascript, ScrollMagic, CSS3
short_desc: Responsive and interactive landing page for "Creative Difference"
order: 4
---

<% content_for :about do %>
  <p>IDEO is a global design company based out of USA and we worked with a team called creative difference to implement an interactive
  and responsive landing page for their product</p>
  <p>We used CSS3 transitions along with ScrollMagic to trigger animations based on the vertial scroll</p>
  <p>It was a short and great engagement to work along with the best brains in design world</p>
  <br/>
  <video controls width="100%">
    <source src="/videos/c-delta-small.mp4" type="video/mp4"/>
  </video>
<% end %>

<% content_for :members do %>
  <div>Sudhakar</div>
<% end %>
