---
category: project
name: IFAD - International Fund for Agricultural Development
technologies: Ruby, Rails, Consulting
short_desc: Ruby and Rails powered phone call reconciliation application for internal reporting
---

<% content_for :about do %>
  <p>
  IFAD is a UN organization dedicated to eradicating rural poverty by providing low interest loans and direct assistance. We are very proud to be working with IFAD on solving such problems. IFAD's solution team contributes quite extensively in terms of open source software. We initially conducted an independent audit of their codebase and later worked with them on several internal tools such as MyCalls (a phone call accounting software) and their activerecord-sybase-adapter for making Sybase work well with ActiveRecord 4.2.
  </p>
  <div class="row">
    <div class="col-md-12">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/k5xDabYdV0Y" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
<% end %>

<% content_for :members do %>
  Vagmi
<% end %>

