---
category: project
name: Inkl
technologies: Swift, iOS, Realm, Fastlane
short_desc: Enhancements and Refactoring of Inkl iOS app
---

<% content_for :about do %>
  <p>inkl is a free news service that eliminates clickbait stories. 
  It's simply the best news stories from the most respectable publishers</p>

  <p>As part of our engagement, We helped inkl simplifying their storyboard by dividing into multiple storyboards which makes It
  managable and easy to enhance parts without affecting the rest. We also helped in beautifying the UI and getting the Day and Night themes</p>

  <p>To understand user interactions and behaviour better, We integrated analytics in the app. 
  We also worked on displaying Morning Edition Local notification which alerts the user everyday morning</p>

  
<% end %>

<% content_for :members do %>
  <div>Pavan</div>
<% end %>
