---
category: project
name: JiffleNow
technologies: Ruby, Rails
short_desc: Ruby and Rails based Enterprise meeting scheduling system for B2B events
img_name: jifflenow
---

<% content_for :about do %>
  <p>
  Jifflenow is a leader in cloud-based enterprise meeting scheduling solutions for B2B events. JiffleNow helps companies accelerate their sales cycles by making it simple to schedule, track, and analyze meetings with prospects and customers at events. They transform the way companies define success at B2B events by enabling them to capture, distribute and analyze meeting data.
  </p>
  <p>
  We are not only helping them deliver their core platform, we are also assisting them in coaching the team on the job in writing good code and follow the best practices in our craft.
  </p>
  <br/>
<% end %>

<% content_for :members do %>
  <div>Dhruva Sagar</div>
<% end %>

<% content_for :articles do %>
  <div>
    <ul>
      <li><a href="http://dhruvasagar.com/2017/02/01/template-context-using-erb" target="_blank">Template Context with ERB</a></li>
    </ul>
  </div>
<% end %>
