@import url("https://use.typekit.net/rlq6fqc.css");

$BlackColor: #0d0a1a;
$PrimaryColor: #23307e;
$SecondaryColor: #e74525;
$TertiaryColor: #7857a9;
$LightColor: #f2e9df;
$LighterColor: #ffffff;
$SecSpace: 55px;
$backgroundSize: 350px;

@mixin btnHover {
  margin-left: -2px;
  margin-top: -2px;
  padding: 17px;
  height: 54px;
}
@mixin btnHoverShadow {
  box-shadow: -1px 6px 15px 0px rgba($BlackColor ,0.15);
}

html,
body {
  background-color: $LighterColor;
  font-family: proxima-nova, sans-serif;
  color: $BlackColor;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

* {
  box-sizing: border-box;
  // transition: all 0.2s ease;
}

::selection {
  background: $SecondaryColor;
  color: $LighterColor;
}

a:not([href]) {
  opacity: .5;
  filter: grayscale(100%);
}

header {
  margin: 20px 0 $SecSpace;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .brand {
      padding: 0;

      & > img {
        float: left;
      }
    }

    & a {
      padding: 15px;
      text-decoration: none;
      color: $BlackColor;

      &:hover {
        color: $SecondaryColor;
      }
    }
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  color: $PrimaryColor;

  &:focus,
  &:hover {
    color: $SecondaryColor;
  }
}

span {
  display: inline-block;
}

button.btn {
  background: none;
  border: none;
  font-size: 16px;
  font-family: proxima-nova, sans-serif;
  outline: none;
}

.btn {
  height: 50px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;

  &.btn-primary {
    background: $PrimaryColor;
    color: $LighterColor;

    &:hover {
      color: $LighterColor;
      @include btnHoverShadow;
    }
  }

  &.btn-secondary {
    background: $SecondaryColor;
    color: $LighterColor;

    &:hover {
      color: $LighterColor;
      @include btnHoverShadow;
    }
  }

  &.btn-link {
    position: relative;
    color: $PrimaryColor;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background: $PrimaryColor;
      left: 15px;
      right: 15px;
      bottom: 13px;
    }

    &:hover {
      color: $SecondaryColor;
    }
  }
}

.inline {
  display: inline-block;
}

h1 {
  font-weight: lighter;
  font-size: 44px;
  color: $BlackColor;
  line-height: 52px;
  margin: 0 0 25px;

  & > strong {
    font-weight: bold;
  }

  & > a {
    color: $BlackColor;
    position: relative;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      height: 8px;
      opacity: 0.4;
      background: #ffbc00;
      transition: all 0.1s;
    }

    &:hover {
      color: $BlackColor;

      &::after {
        height: 68%;
      }
    }
  }
}

h2 {
  font-weight: lighter;
  font-size: 32px;
  color: $BlackColor;
  margin: 0 0 25px;
}

h3 {
  font-weight: bold;
  font-size: 22px;
  color: $BlackColor;
  margin: 0 0 0;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  color: $BlackColor;
  margin: 0 0 15px;
}

img {
  max-width: 100%;
}

@mixin talkactive {
  & .talk-title{
    margin-top: 0;

    & .talk-heading{
      font-size: 32px;
      line-height: 36px;
      margin-top: 25px;
    }
  }
  & .talk-by{
    margin-top: 38px;
  }
}

.talk-fullscreen{
  width: 100%;
  height: 769px;
}

.back-link{
  text-decoration: none;
  margin: 0 0 15px;
  display: inline-block;

  &:before {
    content: "";
    background: url("/images/sprite.svg") no-repeat -15px -20px;
    background-size: $backgroundSize;
    width: 21px;
    height: 12px;
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.techIcon{
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url("/images/sprite.svg") no-repeat;
  margin: 0 5px;
  zoom: 0.8;

  &.Spree, &._Spree{background-position: -14px -414px;}
  &.Rails, &._Rails{background-position: -63px -64px;}
  &.Spring, &._Spring{background-position: -64px -114px;}
  &.Ruby, &._Ruby{background-position: -114px -114px;}
  &.Android, &._Android{background-position: -164px -114px;}
  &.Python, &._Python{background-position: -214px -114px;}
  &.Go, &._Go, &.GoLang, &._GoLang{background-position: -14px -164px;}
  &.HexaPDF, &._HexaPDF{background-position: -64px -164px;}
  &.PrawnPDF, &._PrawnPDF{background-position: -114px -164px;}
  &.ImageMagick, &._ImageMagick{background-position: -164px -164px;}
  &.Django, &._Django{background-position: -214px -164px;}
  &.PostgreSQL, &._PostgreSQL{background-position: -14px -214px;}
  &.Webpack, &._Webpack{background-position: -64px -214px;}
  &.Javascript, &._Javascript{background-position: -164px -64px;}
  &.ScrollMagic, &._ScrollMagic{background-position: -114px -214px;}
  &.CSS3, &._CSS3, &.CSS, &._CSS{background-position: -16px -114px;}
  &.Firebase, &._Firebase{background-position: -164px -214px;}
  &.Clojure, &._Clojure{background-position: -214px -214px;}
  &.HTML5, &._HTML5{background-position: -114px -64px;}
  &.Docker, &._Docker{background-position: -14px -264px;}
  &.Oracle, &._Oracle{background-position: -64px -264px;}
  &.Jenkins, &._Jenkins{background-position: -114px -264px;}
  &.React, &._React{background-position: -14px -64px;}
  &.IoT, &._IoT{background-position: -164px -264px;}
  &.Raspberry_Pi, &._Raspberry_Pi{background-position: -214px -264px;}
  &.RabbitMQ, &._RabbitMQ{background-position: -14px -314px;}
  &.Consulting, &._Consulting{background-position: -64px -314px;}
  &.Swift, &._Swift{background-position: -114px -314px;}
  &.iOS, &._iOS{background-position: -164px -314px;}
  &.Realm, &._Realm{background-position: -214px -314px;}
  &.Fastlane, &._Fastlane{background-position: -14px -364px;}
  &.Sidekiq, &._Sidekiq{background-position: -64px -364px;}
  &.Elixir, &._Elixir{background-position: -114px -364px;}
  &.Phoenix_Framework, &._Phoenix_Framework{background-position: -164px -364px;}
  &.ImmutableJS, &._ImmutableJS{background-position: -214px -364px;}
}

.homepage {
  & .hero {
    margin: 0 0 $SecSpace;

    & > img {
      max-width: 58%;
      margin-right: 2%;
      margin-top: -65px;
    }

    & > div {
      max-width: 40%;
      float: right;
    }

    & .btn-secondary:hover{
      @include btnHover;
    }
  }

  & .projects {
    background: #f5f6f8;

    & .container > div {
      & .project-card {
      }
    }
  }

  & .talks {
    display: flex;
    overflow: auto;

    & > .talk-index {
      min-width: 870px;
      margin-right: 30px;


      &:first-child {
        margin-left: calc((100vw - 1170px) / 2);
      }

      & *{
        transition: all 0.1s;
      }

      &:hover{
        @include talkactive;
      }

      & span {
        display: inline-block;
      }

      &.active{
        @include talkactive;
        
        & > .talk-preview{
          &::before{
            display: none;
          }
          & > img, & > .toggle-btns{
            opacity: 0;
            pointer-events: none;
          }
        }
      }

      & > .talk-preview {
        width: 100%;
        height: 572px;
        background: #ffffff;
        border: 1px solid $LightColor;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
        position: relative;

        &:hover{
          &::before{opacity: 1;}
        }

        &::before{
          content: "🔴 PLAY VIDEO";
          font-size: 12px;
          font-weight: bold;
          position: absolute;
          top: 20px;
          left: 25px;
          z-index: 9;
          opacity: 0;
          transition: all 0.2s;
        }

        & > img{
          position: absolute;
          top:0;
          left: 0;
          min-height: 100%;
          min-width: 100%;
          cursor: pointer;
        }

        & > iframe {
          width: 100%;
          height: 100%;
        }

        & > .toggle-btns {
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 9;
        }
      }

      & .talk-title {
        margin-left: 100px;
        max-width: 570px;
        margin-top: -65px;
        position: relative;
        z-index: 3;

        & .talk-heading {
          font-weight: 800;
          font-size: 48px;
          color: #0d0a1a;
          line-height: 61px;
          margin-bottom: 25px;
        }
        & .talk-about {
          max-width: 520px;
          margin-bottom: 25px;
          font-size: 16px;
          line-height: 22px;
        }
      }
      & .talk-by {
        font-weight: bold;
        position: relative;
        padding-left: 15px;
        float: right;
        min-width: 135px;
        margin: 15px 0 0;

        &:before {
          content: "";
          position: absolute;
          background: url("/images/sprite.svg") no-repeat -122px -22px;
          background-size: $backgroundSize;
          width: 7px;
          height: 7px;
          top: 8px;
          left: 0;
        }
      }
    }
  }
}

.toggle-btns {
  background: $LightColor;
  height: 65px;
  display: inline-block;

  & > .talk-prev,
  & > .talk-next {
    width: 65px;
    height: 100%;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      background: url("/images/sprite.svg") no-repeat;
      width: 50px;
      height: 50px;
      background-size: $backgroundSize;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
      
      &:hover{
        background: $LighterColor;
      }
  }

  & > .talk-prev:after {
    background-position: -50px 0px;
  }
  & > .talk-next:after {
    background-position: -150px 0px;
  }
}

.talks-list{
  & .talk-card {
    min-width: 367px;
    flex: 1;
    margin-bottom: 30px;

    & iframe {
      width: 100%;
      height: 240px;
      margin: 0 0 10px;
    }
  }
}

// .talk-index {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
// }

.blog-card {
  & > .img {
    position: relative;
    width: 370px;
    height: 245px;
    display: inline-block;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  & > .blog-card-content {
    margin: -40px 25px 0;
    z-index: 35;
    position: relative;

    & > h3{
      position: relative;
      font-weight: bold;
    font-size: 25px;
    color: $BlackColor;
    line-height: 35px;
    max-width: 280px;
    margin: 0 0 15px;

      & > span{
        position: relative;
        z-index: 1;
      }

      &::before{
        content: "";
        position: absolute;
        background-color: $LighterColor;
        top: -5px;
        left: -10px;
        right: -10px;
        z-index: 0;
        height: 42px;
        opacity: .9;
      }
    }

    & > .blog-info {
      font-size: 14px;

      & > span{
        display: inline-block;
        width: 100%;
      }

      & i {
        width: 100%;
        display: inline-block;
      }

      & .img-holder {
        display: inline-block;
        width: 55px;
        height: 55px;
        background: $LightColor;
        border-radius: 50%;
      }
    }

  }
}

.testimonials {
  max-width: 970px;
  margin: 0 auto;

  & .who {
    display: inline-block;

    & .pic {
      display: inline-block;
      width: 570px;
      height: 375px;
      background: $LightColor;
      float: left;
    }
    & .count {
      transform: rotate(90deg);
      font-weight: bold;
      font-size: 16px;
      color: $BlackColor;
      margin: 11px 0 0;
    }
  }
  & .what {
    float: right;

    & .toggle-btns {
    }
    & .testi-quote {
      background: $TertiaryColor;
      padding: 30px;
      width: 570px;
      position: relative;
      float: right;
      margin: -100px 0 0;

      &::before {
        content: "";
        background: url("/images/sprite.svg") no-repeat -209px -60px;
        background-size: $backgroundSize;
        width: 35px;
        height: 30px;
        position: absolute;
        top: 30px;
        right: 30px;
        opacity: 0.25;
      }

      & .name {
        color: $LighterColor;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        line-height: 24px;
      }
      & .position {
        font-size: 16px;
        color: $BlackColor;
        line-height: 24px;
      }
      & .quote {
        font-family: skolar-latin, serif;
        font-size: 18px;
        color: $LighterColor;
        line-height: 27px;
        margin: 20px 0 0;
      }
    }
  }
}

.contact-us {
  & .address-holder {
    width: 50%;
    display: inline-block;
    float: left;

    & .address {
      display: inline-block;
      min-width: 270px;
      margin: 0 0 $SecSpace;
      vertical-align: top;

      & address {
        font-style: normal;
      }

      & .btn-link {
        padding-left: 0;
        padding-right: 0;

        &::after {
          left: 0;
          right: 0;
        }
      }
    }
  }
  & form {
    width: 50%;
    background: $LighterColor;
    border: 1px solid $LightColor;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: inline-block;

    & > span {
      display: inline-block;
      width: 100%;
      margin: 0 0 30px;
    }

    & > label,
    & > input {
      height: 30px;
      margin: 0 0 20px;
      font-size: 16px;
      padding: 5px 0;
    }

    & > label {
      width: 40%;
      float: left;
    }
    & > input {
      width: 60%;
      border: none;
      border-bottom: 1px solid $BlackColor;
      outline: none;

      &:focus{
        border-bottom: 1px solid $SecondaryColor;
      }
    }

    & .btn {
      float: right;
    }
  }
}

.project-card,
.talk-card,
.blog-card {
  max-width: 367px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  color: $BlackColor;
  vertical-align: top;
  position: relative;

  & > *{
    position: relative;
    z-index: 2;
  }

  &:after{
    content: "";
    position: absolute;
    background: $LighterColor;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    opacity: 0;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    transition: all 0.3s;
  }

  &:hover {
      z-index: 9;

    &:after{
      opacity: 1;
      box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.15);
    }

    & p,
    span {
      color: initial;
    }

    & .btn-link {
      color: $SecondaryColor;

      &::after {
        background: $SecondaryColor;
      }
    }
  }

  & .techused{
    display: inline-block;
    width: 100%;
    
    & .techlabel{
      float: left;
      margin: 3px 10px 0 0;
      font-size: 13px;
    }
  }

  & .btn-link {
    padding-left: 0;
    padding-right: 0;

    &::after {
      left: 0;
      right: 0;
    }
  }

  & > img,
  & > h3,
  & > span {
    margin: 0 0 10px;
  }

  & > p {
    margin: 0 0 15px;
  }
}

.section {
  padding: $SecSpace 0;
  display: inline-block;
  width: 100%;
}

.page {
  & .section-heading{
    & h1{
      font-weight: 800;
      margin: 0 0 25px;
      max-width: 570px;
      font-size: 48px;
      line-height: 61px;
    }
    &+p{
      font-size: 16px;
      line-height: 22px;
      margin: 0 0 50px;
      max-width: 670px;
    }
  }
  & .project-card{
    margin-bottom: 10px;
  }
}

.row {
  margin: 0 -15px;
}

.project-innerpage{
  display: inline-block;
  width: 100%;

  & .readable{
    display: inline-block;
    width: calc(60% - 30px);
    margin-right: 30px;
    line-height: 22px;
    font-size: 16px;
  }
  & .showcase{
    width: 40%;
    float: right;
    padding: 30px;
    min-height: 700px;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.10);
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;

    &::before{
      content: "";
      position: absolute;
      z-index: 0;
      background-image: linear-gradient(rgba(13,10,26,0.05) 55%, rgba(13,10,26,0.47) 100%);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
    }

    & > img{
      position: absolute;
      z-index: 0;
      min-height:100%;
      min-width: 100%;
      left: 0;
      top: 0;
    }

    & dl{
      margin: 0;
      z-index: 2;
      color: $LighterColor;

      & dt{
        float: left;
        width: 155px;
        font-size: 13px;
        margin: 3px 0 0;
      }
      & dd{
        margin: 0 0 25px 155px;

        &:last-child{
          margin-bottom: 0;
        }

        & .techIcon{
          filter: invert(100%);

          &:first-child{
            margin-left: 0;
          }
        }
      }
    }
  }
}

.about-page{
  & .sub-menu{
    float: left;
    margin: 0 30px 0 0;
    min-width: 170px;
    display: inline-block;

    & .label{
      opacity: 0.23;
      font-weight: bold;
      color: $BlackColor;
      line-height: 22px;
    }
    & ul{
      padding: 0 0 0 30px;
      margin: 10px 0;

      & li{
        & a{
          display: inline-block;
          font-size: 16px;
          color: $BlackColor;
          text-decoration: none;
          line-height: 22px;
          padding: 12.5px 0;

          &:hover{
            text-decoration: underline;
          }

          &.active{
            color: $SecondaryColor;
          }
        }
      }
    }
  }
  & .inner-wrapper{
    max-width: 970px;
    margin-left: 200px;

    & p{
      margin: 0 0 15px;
    }

    & .about-partition{
      display: flex;

      & > div{
        flex: 1;

        &:last-child{
          margin-left: 30px;
        }

        & .quote{
          border: 1px solid $BlackColor;
          padding: 20px 30px 15px;
          display: inline-block;
          width: 100%;
          margin: 35px 0 50px;
          
          & > blockquote{
            margin: 0;
            font-family: skolar-latin, serif;
            line-height: 30px;
          }
          & > .btn-link{
            float: right;
          }
        }
      }
    }
  }
    
    & .tabs{
        margin: 0 0 50px;
        display: inline-block;
        width: 100%;
        
        & li{
            width: 270px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &.active{
                background-image: linear-gradient(46deg, #23307E 0%, #7857A9 100%);
                
                & a:after{
                    filter: brightness(100);
                }
            }
            
            & a{
                display: inline-block;
                
                &.product_engg, &.consulting, &.coaching{
                    &:after{
                        content: "";
                        background: url("/images/sprite.svg") no-repeat;
                        background-size: $backgroundSize;
                        display: inline-block;
                    }
                }

                &.product_engg:after{
                        width: 74px;
                        height: 73px;
                        background-position: -251px -111px;
                }
                &.consulting:after{
                        width: 84px;
                        height: 50px;
                        background-position: -251px 0px;
                }
                &.coaching:after{
                        width: 57px;
                        height: 57px;
                        background-position: -251px -51px;
                }
            }
            
            &.active{
                
            }
        }
    }
    & .tab_container{
        min-height: 340px;
        
        & h3, & p, & ul{
            margin: 0 0 25px;
        }
        & ul li{
            margin: 0 0 15px;
        }
    }
    & .tarkans{
        margin: 0 -15px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        & .tarkan{
            margin: 0 15px 35px;
            width: calc(33.333% - 30px);
            min-width: 290px;
            position: relative;
            z-index: 1;
            
            & > *{
                z-index: 9;
            }
            
            & > img{
                width: 100%;
            }
            & .t-name{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: -40px 25px 0;
                z-index: 10;
                position: relative;
                
                & > h3, & > h5{
                    color: $LighterColor;
                    background:$TertiaryColor;
                    display: inline-block;
                    margin: 0;
                    padding: 6px 10px;
                }
                & > h3{
                    font-weight: bold;
                    font-size: 22px;
                }
                & > h5{
                    font-size: 16px;
                    font-weight: 100;
                }
            }
            & .desc{
                display: none;
                background: $TertiaryColor;
                color: $LighterColor;
                padding: 50px 30px 30px;
                position: absolute;
                top: 293px;
                z-index: 9;
                line-height: 25px;
                
                & .refs{
                    display: inline-block;
                    width: 100%;
                    margin: 30px 0 0 0;
                    
                    & a{
                        color: $LighterColor;
                        display: inline-block;
                        padding: 0 10px 0 0;
                    }
                }
            }
        }
    }
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;

    & li {
      float: left;
        
        & a{}
        &.active,
        &.active a:hover {}
    }
}

.tab_container {
    display: inline-block;
    width: 100%;
}

.tab_content {
  display: none;
    
    &.active{
        display: block;
    }
}

footer{
    margin: 100px 0 0;
    
  & .container{
    padding: 30px 0;
    font-size: 13px;

    & > div{
      display: flex;
        
        & > span{
            width: 33.333%;
            
            &:last-child{
                font-size: 16px;
                text-align: right;
                
                & > a{
                    min-width: 40px;
                    text-align: center;
                    display: inline-block;
                }
            }
            &:first-child{
                
            }
            
            &.logo-type{
                text-align: center;
            }
        }
    }
  }
}

@media screen and (min-width: 641px) {
    .desktop-hide{
        display: none !important;
    }
    
    .container{
        min-width: 960px;
    }
    
    .tarkans .tarkan{
        &:hover{
            z-index: 2;
            box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.15);

            & .desc{
                display: inline-block;
                box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.15);
            }
        }
    }
}

@media screen and (max-width: 640px) {
    body{
        &.menu-active{
            overflow: hidden;
        }
    }
    .mobile-hide{
        display: none !important;
    }
    header{
        margin: 0;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        background: rgba($LighterColor, 0);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
        transition: all 0.2s;
        
        &.active{
            background: $LighterColor;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
        }
        
        &.expand{
            height: 100%;
            background: $LighterColor;
            overflow: auto;
            
            & .brand{
                display: none;
            }
            
            & .menu{
                display: flex;
                flex-direction: column;
                
                & a{
                    padding: 25px 0;
                    display: inline-block;
                    text-decoration: none;
                }
            }
            & .hamburger{
                background-position: -250px -250px;
            }
        }
        
        & .menu{
            display: none;
            
            & a{
                font-weight: bold;
                font-size: 32px;
                color: $BlackColor;
                text-align: center;
            }
        }
        & .brand{
            width: 105px;
        }

        & .hamburger{
            display: inline-block;
            width: 50px;
            height: 50px;
            background: url("/images/sprite.svg") no-repeat -250px -200px;
            background-size: $backgroundSize;
            position: absolute;
            left: 0;
            top: 0;
            
            &+a{
                display: flex;
            }
        }
    }
    h1{
        font-size: 32px;
        line-height: 34px;
        margin: 0 0 25px;
    }
    .btn{
        width: 100%;
        
        &.btn-link{
            width: auto;
        }
    }
    .homepage{
        & .hero{
            overflow: hidden;
            margin-top: 50px;
            
            & > img{
                margin: 0;
                max-width: none;
                height: 300px;
            }
            & > div{
                max-width: 100%;
                float: none;
                text-align: center;
                padding: 0 30px;
                
                & > .inline{
                    width: 100%;
                }
            }
        }
    }
    .page{
        margin: 80px 30px;
        
        & .section-heading{
            & h1{
                font-size: 32px;
                line-height: 34px;
                margin: 0 0 25px;
            }
            &+p{
                display: none;
            }
        }
        
        & .project-card{
            margin: 20px 15px;
            position: relative;
            padding-right: 25px;
            
            &:before{
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                height: 15px;
            }

            & > img, & > .btn-link{
               display: none;
            }
        }
        
        & .project-innerpage{
            & .readable{
                width: 100%;
                margin-right: 0;
                
                & p{
                    margin: 0 0 25px;
                }
            }
            & .showcase{
                width: 100%;
                float: none;
                min-height: auto;
                box-shadow: none;
                padding-left: 0;
                padding-right: 0;
                
                &:before{
                    display: none;
                }
                
                & dl{
                    filter: brightness(0) opacity(.7);
                }
            }
        }
    }
    
    .talks-list{
        margin: 0;
        
      & .talk-card {
            min-width: auto;
            flex: 1;
            max-width: none;
            margin: 0 0 30px;

        & iframe {
          width: 100%;
          height: 240px;
          margin: 0 0 10px;
        }
      }
    }
    
    .project-detail-hero{
        & > .back-link{
            margin: 15px 0 -37px 15px;
            filter: brightness(100);
            position: relative;
        }
        
        &+.page{
            margin-top: 30px;
        }
    }
    
    .about-page{
        margin: -30px -30px 30px;
        
        & .sub-menu{
            float: none;
            margin: 0;
            width: 100%;
            
            & > .label{
                display: none;
            }
            
            & > ul{
                padding: 0;
                margin: 0;
                list-style: none;
                
                & > li{
                    float: left;
                    width: 50%;
                    
                    & a{
                        width: 100%;
                        text-align: center;
                        background: $LightColor;
                        border-bottom: 1px solid $LightColor;
                        
                        &.active{
                            border-bottom-color: $SecondaryColor;
                        }
                    }
                }
            }
        }
        & .inner-wrapper{
            padding: 30px;
            margin-left: 0;
            width: 100%;
            
            & .about-partition{
                flex-direction: column-reverse;
                
                & > div:last-child{
                    margin-left: 0;
                }
            }
            
            & #whatwedo{
                &+div{
                    & .tabs{
                        display: none;
                    }
                    & .tab_container{
                        & .tab_content{
                            display: block;
                            margin-bottom: 45px;
                        }
                    }
                }
            }
            
            & .tarkans{
                margin: 0;
                
                & .tarkan{
                    min-width: auto;
                    width: 100%;
                    margin: 0 0 30px;
                    
                    &.active{
                        z-index: 2;
                        box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.15);

                        & .desc{
                            margin-top: -35px;
                            top: 0;
                            position: relative;
                            display: inline-block;
                            box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.15);
                        }
                    }
                }
            }
        }
    }
    
    .contact-us{
        & .address-holder{
            float: none;
            width: 100%;
            
            & .address{
                margin-bottom: 30px;
            }
        }
        & form{
            width: 100%;
            
            & > label{
                margin: 0;
            }
            & > input{
                margin-bottom: 30px;
            }
            
            & > label, & > input{
                width: 100%;
            }
            & > div{
                text-align: center;
            }
            & .btn{
                float: none;
            }
        }
    }
    
}


@media screen and (max-width: 640px) and (orientation : landscape) {
    header.expand{
        align-items: flex-start;
        
        & .hamburger{
            position: fixed;
        }
    }
    .homepage .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-card, .talk-card, .blog-card{
        max-width: none;
    }
    .talks-list{
        margin: 0 -15px;
        
        & .talk-card{
            margin: 0 15px 30px;
            max-width: calc(50% - 35px);
        }
    }
    .about-page .inner-wrapper .tarkans .tarkan{
        width: calc(33.333% - 30px);
        margin: 0 15px 30px;
    }
}






























