<div class="address-holder">
  <div class="email-holder">
      We’d love to hear from you.<br/>
      <a href="mailto: hello@tarkalabs.com">hello@tarkalabs.com</a>
  </div>

  <div class="address">
    <address>
      <strong>Chennai 🇮🇳</strong><br/><br/>
      #A1/1, 49th Street,<br/>
      7th Avenue, Ashok Nagar,<br/>
      Chennai, TN, India, 600083.<br/>
      +91 (44) 4550-1295
    </address>

    <a href="https://goo.gl/maps/JzQU5f5vnk62" target="_blank" class="btn btn-link">Open in map</a>
  </div>

  <div class="address">
    <address>
    <strong>Bangalore 🇮🇳</strong><br/><br/>
      # 579, 9th A Main road,<br/>
      1st Stage Indira Nagar,<br/>
      Bangalore, KA, India, 560038.
    </address>

    <a href="https://goo.gl/maps/THnTwcXgS9m" target="_blank" class="btn btn-link">Open in map</a>
  </div>

  <div class="address">
    <address>
    <strong>San Jose 🇺🇸</strong><br/><br/>

      440 N. Wolfe Rd,<br/>
      Sunnyvale, CA 94085<br/>
      +1 (971) 270 – 6909
    </address>

    <a target="_blank" class="btn btn-link">Open in map</a>
  </div>

  <div class="address">
    <address>
    <strong>Fredericton 🇨🇦</strong><br/><br/>

      50 Crowther Lane, Suite 140<br/>
      Fredericton, NB, E3C 0J1<br/>
    </address>

    <a target="_blank" class="btn btn-link">Open in map</a>
  </div>
</div>

<form action="https://serverlessforms.com/api/form/3fc1a2b1-3f34-58a4-bbc3-a58555abd682/form-response" method="post">
  <span><strong>Get Free Consultation</strong></span>

  <label>Name</label>
  <input type="text" name="name">

  <label>Work Email</label>
  <input type="email" name="email">

  <label>Company Name</label>
  <input type="text" name="orgName">

  <label>Contact No</label>
  <input type="tel" name="contactno">

  <div>
  <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-link">Clear</button>
  </div>
</form>
