<footer>
    <div class="container">
        <div>
        <span> <img src="/images/logo.svg" height="30" /> </span>
        <span>Follow us in Facebook, etc..,</span>
        </div>
    </div>
</footer>