<footer>
    <div class="container">
        <div>            
            <span>Tarka Labs is a division of <a href="https://sedintechnologies.com/" target="_blank">Sedin Technologies</a></span>
            <span class="logo-type"> <img src="/images/logo_icon.svg" height="30" /> </span>
            <span>
                <a target="_blank" href="https://www.facebook.com/tarkalabs/"><span class="fa fa-facebook"></span></a>
                <a target="_blank" href="https://www.linkedin.com/company/tarka-labs"><span class="fa fa-linkedin"></span></a>
                <a target="_blank" href="https://twitter.com/tarkalabs?lang=en"><span class="fa fa-twitter"></span></a>
            </span>
        </div>
    </div>
</footer>