<footer>
    <div class="container">
        <div>
        <span> <img src="/images/logo.svg" height="30" /> </span>
        <span>Tarka Labs is a division of <a href="https://sedintechnologies.com/" target="_blank">Sedin Technologies</a></span>
        </div>
    </div>
</footer>