---
category: project
name: Aisle
technologies: Ruby, Rails, Android, Firebase, PostgreSQL
short_desc: Firebase and PostgreSQL powered geofencing and smart notifications for a match making app
img_name: aisle
---

<% content_for :about do %>
  <p>
  Aisle is a match making app that lets socially discerning urban indians find love.
  </p>
  <p>
  We implemented the following features on the backend and the android app.
  </p>
  <ul>
    <li>Messaging and the notification layer with Firebase </li>
    <li>Geofencing and location aware search with PostgreSQL using earthdistance and ts_vectors</li>
  </ul>
<% end %>

<% content_for :members do %>
  <div>Dhruva Sagar</div>
<% end %>
