---
category: project
name: IDExcel
technologies: Ruby, Rails, PostgreSQL
short_desc: Rails powered Asset Based Lending platform with performant reports.
img_name: idexcel
---

<% content_for :about do %>
  <p>
  IDExcel provides solutions for the Asset Based Lending industry to automate the profiling and risk analysis for credit managers against assets such as Accounts Receivable invoices
  </p>
  <p>
  The codebase had been optimized prematurely into microservices without a clear separation. This resulted in domain objects being equally distributed between three microservices that were distint in terms of the UI functionality but shared a lot of models. We were brought on board to assist their team in improving the performance. After our initial analysis we found that it would be better to transform the app into a monolith.
  </p>
  <p>
  The team had used Her to use an ActiveModel like API to talk with different microservices. We refactored the codebase to bring in the models as a Rails engine to the main application and rewrote a lot of the Her model calls to directly use the underlying database tables through ActiveRecord. This eliminated a whole class of problems with N+1s and drastically improved the performance of the application across the board. We assisted the team in migrating the database as well and transformed the nearly unusable parts of the application to some of the fastest parts of the application.
  </p>
<% end %>

<% content_for :members do %>
  <div>Divyanshu</div>
<% end %>
