---
title: TarkaLabs - Software Development, Consulting and Training
---

<div class="error-page">
    <div class="container">
        <div>
            <span class="heading">This Page <br/>
                was lost</span>
            <p>
                The page you’re looking for isn't available.<br/>
                Try to search again or use the Go Back button below
            </p>
            <button onclick="goBack()" class="btn btn-secondary">Go Back</button>
        </div>
        <div>
            <img src="./images/404.png" />
        </div>
    </div>
</div>


<script>
function goBack() {
  window.history.back();
}
</script>