---
title: Welcome to Middleman,
---

<%= partial "./partials/header" %>

<div class="page">
    <div class="container">
      <div class="section-heading">
        <h1>About Us</h1>
      </div>

      
  </div>
</div>

<%= partial "./partials/footer" %>