---
title: Welcome to Middleman,
---

<%= partial "./partials/header" %>

<div class="page">
    <div class="container about-page">

      <div class="sub-menu">
        <span class="label">ABOUT</span>
        <ul>
          <li><a href="#" class="active">Company</a></li>
          <li><a href="#">Team</a></li>
        </ul>
      </div>

      <div class="inner-wrapper">
        <div class="about-partition">
          <div>
            <div class="section-heading">
              <h1>About<br/> Tarka Labs</h1>
            </div>

            <div>
              <p>We are a team of passionate hackers, designers and product managers. We believe in experimental methods to identify the best solutions to problems instead of working on technology du jour. </p>
              <p>The word Tarka has its origins in sanskrit that loosely translates to logic in english. We view the discipline of software development as a craft. This means that we are always striving to be better craftsmen today than we were yesterday.</p>

              <div class="quote">
                <blockquote>Tarka Sastra is a science of dialectics, logic and reasoning, and art of debate that analyzes the nature and source of knowledge and its validity.</blockquote>
                <span class="btn btn-link">- Wikipedia</span>
              </div>

            </div>
          </div>
          <div>
            <img src="/images/tarkalabs-logo-reveling.gif"/>
          </div>
        </div>

        <div class="section-heading">
          <h1>What we<br/> do?</h1>
        </div>
      </div>
      
  </div>
</div>

<%= partial "./partials/footer" %>